{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--grid-layout-->
    <section class="section pt-85">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!--Post-1-->
                    <div class="post-card">
                        <div class="post-card-image">
                            <a href="post-default.html">
                                <img src="{% static 'img/blog/25.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="post-card-content">
                            <a href="blog-grid.html" class="categorie">اسلوب حياة</a>
                            <h5>
                                <a href="post-default.html">كيفية اختيار ملابس العمل للنساء</a>
                            </h5>
                            <p>
                                خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                في, اقتصّت المحور حدة و....
                            </p>
                            <div class="post-card-info">
                                <ul class="list-inline">
                                    <li>
                                        <a href="author.html">
                                            <img src="{% static 'img/author/1.jpg' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="author.html"> دفيد سميث</a>
                                    </li>
                                    <li class="dot"></li>
                                    <li>15 يناير 2021 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/-->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--Post-2-->
                    <div class="post-card">
                        <div class="post-card-image">
                            <a href="post-default.html">
                                <img src="{% static 'img/blog/23.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="post-card-content">
                            <a href="blog-grid.html" class="categorie">السفر</a>
                            <h5>
                                <a href="post-default.html"> أفضل وأجمل 10 أماكن للزيارة في إيطاليا
                                </a>
                            </h5>
                            <p>
                                خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                في, اقتصّت المحور حدة و....
                            </p>
                            <div class="post-card-info">
                                <ul class="list-inline">
                                    <li>
                                        <a href="author.html">
                                            <img src="{% static 'img/author/1.jpg' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="author.html"> دفيد سميث</a>
                                    </li>
                                    <li class="dot"></li>
                                    <li>15 يناير 2021 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/-->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--Post-3-->
                    <div class="post-card">
                        <div class="post-card-image">
                            <a href="post-default.html">
                                <img src="{% static 'img/blog/24.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="post-card-content">
                            <a href="blog-grid.html" class="categorie">تغذية</a>
                            <h5>
                                <a href="post-default.html">استمتع بكيك الشوكولاتة مولتن</a>
                            </h5>
                            <p>
                                خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                في, اقتصّت المحور حدة و....
                            </p>
                            <div class="post-card-info">
                                <ul class="list-inline">
                                    <li>
                                        <a href="author.html">
                                            <img src="{% static 'img/author/1.jpg' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="author.html"> دفيد سميث</a>
                                    </li>
                                    <li class="dot"></li>
                                    <li>15 يناير 2021 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/-->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--Post-4-->
                    <div class="post-card">
                        <div class="post-card-image">
                            <a href="post-default.html">
                                <img src="{% static 'img/blog/21.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="post-card-content">
                            <a href="blog-grid.html" class="categorie">السفر</a>
                            <h5>
                                <a href="post-default.html">أفضل 10 غابات يجب على كل محبي الطبيعة زيارتها</a>
                            </h5>
                            <p>
                                خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                في, اقتصّت المحور حدة و....
                            </p>
                            <div class="post-card-info">
                                <ul class="list-inline">
                                    <li>
                                        <a href="author.html">
                                            <img src="{% static 'img/author/1.jpg' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="author.html"> دفيد سميث</a>
                                    </li>
                                    <li class="dot"></li>
                                    <li>15 يناير 2021 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/-->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--Post-5-->
                    <div class="post-card">
                        <div class="post-card-image">
                            <a href="post-default.html">
                                <img src="{% static 'img/blog/22.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="post-card-content">
                            <a href="blog-grid.html" class="categorie">تغذية</a>
                            <h5>
                                <a href="post-default.html">كيفية تحضير وجبة فطور ملكية صحية في المنزل</a>
                            </h5>
                            <p>
                                خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                في, اقتصّت المحور حدة و....
                            </p>
                            <div class="post-card-info">
                                <ul class="list-inline">
                                    <li>
                                        <a href="author.html">
                                            <img src="{% static 'img/author/1.jpg' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="author.html"> دفيد سميث</a>
                                    </li>
                                    <li class="dot"></li>
                                    <li>15 يناير 2021 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/-->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--Post-6-->
                    <div class="post-card">
                        <div class="post-card-image">
                            <a href="post-default.html">
                                <img src="{% static 'img/blog/27.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="post-card-content">
                            <a href="blog-grid.html" class="categorie">اسلوب حياة</a>
                            <h5>
                                <a href="post-default.html">20+ ملابس جرلي لطيفة للشراء في أول أيام الشتاء</a>
                            </h5>
                            <p>
                                خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                في, اقتصّت المحور حدة و....
                            </p>
                            <div class="post-card-info">
                                <ul class="list-inline">
                                    <li>
                                        <a href="author.html">
                                            <img src="{% static 'img/author/1.jpg' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="author.html"> دفيد سميث</a>
                                    </li>
                                    <li class="dot"></li>
                                    <li>15 يناير 2021 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/-->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--Post-7-->
                    <div class="post-card">
                        <div class="post-card-image">
                            <a href="post-default.html">
                                <img src="{% static 'img/blog/26.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="post-card-content">
                            <a href="blog-grid.html" class="categorie">اسلوب حياة</a>
                            <h5>
                                <a href="post-default.html">كيف ترتدي عندما تسافر إلى الجبل؟</a>
                            </h5>
                            <p>
                                خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                في, اقتصّت المحور حدة و....
                            </p>
                            <div class="post-card-info">
                                <ul class="list-inline">
                                    <li>
                                        <a href="author.html">
                                            <img src="{% static 'img/author/1.jpg' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="author.html"> دفيد سميث</a>
                                    </li>
                                    <li class="dot"></li>
                                    <li>15 يناير 2021 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/-->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--Post-8-->
                    <div class="post-card">
                        <div class="post-card-image">
                            <a href="post-default.html">
                                <img src="{% static 'img/blog/28.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="post-card-content">
                            <a href="blog-grid.html" class="categorie">تغذية</a>
                            <h5>
                                <a href="post-default.html">كيف تصنع فطيرة المغرب في خمس خطوات؟</a>
                            </h5>
                            <p>
                                خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                في, اقتصّت المحور حدة و....
                            </p>
                            <div class="post-card-info">
                                <ul class="list-inline">
                                    <li>
                                        <a href="author.html">
                                            <img src="{% static 'img/author/1.jpg' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="author.html"> دفيد سميث</a>
                                    </li>
                                    <li class="dot"></li>
                                    <li>15 يناير 2021 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/-->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--Post-9-->
                    <div class="post-card">
                        <div class="post-card-image">
                            <a href="post-default.html">
                                <img src="{% static 'img/blog/20.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="post-card-content">
                            <a href="blog-grid.html" class="categorie">السفر</a>
                            <h5>
                                <a href="post-default.html"> 10 نصائح سهلة للسفر حول العالم!</a>
                            </h5>
                            <p>
                                خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                في, اقتصّت المحور حدة و....
                            </p>
                            <div class="post-card-info">
                                <ul class="list-inline">
                                    <li>
                                        <a href="author.html">
                                            <img src="{% static 'img/author/1.jpg' %}" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="author.html"> دفيد سميث</a>
                                    </li>
                                    <li class="dot"></li>
                                    <li>15 يناير 2021 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/-->
                </div>
                <!--pagination-->
                <div class="col-lg-12">
                    <div class="pagination mt--10">
                        <ul class="list-inline">
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="arrow_carrot-2left"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--/-->
                </div>
            </div>
        </div>
    </section>
    <!--/-->


</body>

</html>
{% endblock %}