{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load blog_tags %}
{% block content %}
    <!--category-->
    <section class="categorie-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="categorie-title">
                        <small>
                            <a href="index.html">الرئيسية</a>
                            <span class="arrow_carrot-left"></span> تغذية
                        </small>
                        <h3>تصنيف :
                            <span> تغذية</span>
                        </h3>
                        <p> خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                        في, اقتصّت المحور حدة و.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--blog-grid-->
    <section class="blog-grid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mt-30">
                    <div class="row">
                    {% for post in posts %}
                        <div class="col-lg-6 col-md-6">
                            <!--Post-1-->
                            <div class="post-card">
                                <div class="post-card-image">
                                    <a href="{% url 'blog:single' pid=post.id %}">
                                        <img src="{{post.image.url}}" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    {% for cat in post.category.all %}
                                    <a href="{% url 'blog:category' cat_name=cat.name %}" class="categorie">{{cat.name}}</a>
                                    {% endfor %}
                                    <h5>
                                        <a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a>
                                    </h5>
                                    <p>
                                    {{post.content|truncatechars:250}}
                                    </p>
                                    <div class="post-card-info">
                                        <ul class="list-inline">
                                            <li>
                                                
                                                    <img src="{% static 'img/author/1.jpg' %}" alt="">
                                                
                                            </li>
                                            <li>
                                                <a href="{% url 'blog:author' author_username=post.author.username %}">{{post.author.get_full_name}}</a>
                                            </li>
                                            <li class="dot"></li>
                                            <li>{{post.published_date|naturaltime}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/-->
                        </div>
                        {% endfor %}
                        <!--pagination-->
                        <div class="col-lg-12">
                            <div class="pagination mt--10">
                                <ul class="list-inline">
                                    {% for i in posts.paginator.page_range %}
									{% if posts.number == i  %}
                                    <li class="active">
                                        <a href="#">{{i}}</a>
                                    </li>
									{% else %}
                                    <li>
                                        <a href="?page={{i}}">{{i}}</a>
                                    </li>
                                    {% endif %}
									{% endfor %}
                                    {% if posts.has_next %}
                                    <li>
                                        <a href="?page={{ posts.next_page_number }}">
                                            <i class="arrow_carrot-2left"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>  
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 max-width">
                <!--widget-latest-posts-->
                    {% latest_posts %}
                <!--/-->
                
                <!--widget-categories-->
                    {% post_categories %}
                
                <!--widget-instagram-->
                    {% include 'blog/instagram-widget.html' %}
                
                <!--widget-tags-->
                    {% include 'blog/blog-tags.html' %}
                <!--/-->
    
                </div>
            </div>
        </div>
    </section>
    <!--/-->
   
{% endblock %}