{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load blog_tags %}
{% block content %}
    <!--post-default-->
    <section class="section pt-55 ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mb-20">
                    <!--Post-single-->
                    <div class="post-single">
                        <div class="post-single-image">
                            <img src="{{post.image.url}}" alt="">
                        </div>
                        <div class="post-single-content">
                            {% for cat in post.category.all %}
                            <a href="blog-grid.html" class="categorie">{{cat.name}}</a> 
                            {% endfor %}
                            <h4>{{post.title}}</h4>
                            <div class="post-single-info">
                                <ul class="list-inline">
                                    <li><a href="{% url 'blog:author' author_username=post.author.username %}"><img src="{% static 'img/author/1.jpg' %}" alt=""></a></li>
                                    <li><a href="{% url 'blog:author' author_username=post.author.username %}">{{post.author.get_full_name}}</a> </li>
                                    <li class="dot"></li>
                                    <li>{{post.published_date|naturaltime}}</li>
                                    <li class="dot"></li>
                                    <li>تعداد نظرات: {{comments|length}}</li>
                                </ul>
                            </div>
                        </div>
                  
                        <div class="post-single-body">
                        {{post.content|safe}}
                        </div>

                        <div class="post-single-footer">
                            <div class="tags">
                                <ul class="list-inline">
                                    <li>
                                        <a href="blog-grid.html">السفر</a>
                                    </li>
                                    <li>
                                        <a href="blog-grid.html">الطبيعة</a>
                                    </li>
                                    <li>
                                        <a href="blog-grid.html">نصائح</a>
                                    </li>
                                    <li>
                                        <a href="blog-grid.html">الغابة</a>
                                    </li>
                                    <li>
                                        <a href="blog-grid.html">البحر</a>
                                    </li>
                                
                                </ul>
                            </div>
                            <div class="social-media">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#" class="color-facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-pinterest">
                                            <i class="fab fa-pinterest"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>                           
                        </div>
                    </div> <!--/-->

                    <!--next & previous-posts-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="widget">
                                <div class="widget-next-post">
                                    <div class="small-post">
                                        <div class="image">
                                            <a href="post-default.html">
                                            <img src="{% static 'img/latest/1.jpg' %}" alt="...">
                                            </a>                                          
                                        </div>
                                        <div class="content">
                                            <div>
                                                <a class="link" href="post-default.html"><i class="arrow_right"></i>المقال السابق</a>
                                            </div>
                                            <a href="post-default.html">7 وصفات عشاء صحي لقضاء ليلة في المنزل</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="widget">
                                <div class="widget-previous-post">
                                    <div class="small-post">
                                        <div class="image">
                                            <a href="post-default.html">
                                               <img src="{% static 'img/blog/2.jpg' %}" alt="...">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <div>
                                                <a class="link" href="post-default.html">
                                                    <span> المقال التالي</span>
                                                    <span class="arrow_left"></span>
                                                </a>
                                            </div>
                                            <a href="post-default.html">كيفية اختيار ملابس العمل للنساء والرجال</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/-->

                    <!--widget-comments-->
                    <div class="widget mb-50">
                        <div class="title">
                            <h5>نظرات</h5>
                        </div>
                        
                        <ul class="widget-comments">
                            {% for comment in comments %}
                            <li class="comment-item">
                                <img src="{% static 'img/user/1.jpg' %}" alt="">
                                <div class="content">
                                    <ul class="info list-inline">
                                        <li>{{comment.name}}</li>
                                        <li class="dot"></li>
                                        <li> {{comment.created_date|naturaltime}}</li>
                                    </ul>
                                    <p>{{comment.message}}
                                    </p>
                            </li>
                            {% empty %}
                            <p>هنوز نظری ثبت نشده است ،اولین نفری باشید که نظر میدهید.</p>
                            {% endfor %}
                        </ul>
                       <!--Leave-comments-->
                        <div class="title">
                            <h5>نظر بدهید</h5>
                        </div>
                        <form class="widget-form" action="{% url 'blog:single' pid=post.id %}" method="post">
                            {% csrf_token %}
                            <p>آدرس ایمیل شما نشر داده نخواهد شد ، پر کردن قسمت های * دار الزامی است.</p>
                            <div class="alert alert-success contact_msg" style="display: none" role="alert">
                                Your message was sent successfully.
                            </div>
                            <div class="row">
                                <input type="hidden" name="post" value="{{post.id}}">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="message"  cols="30" rows="5" class="form-control" placeholder="نظر*" required="required"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" placeholder="نام*" required="required">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" name="email"  class="form-control" placeholder="ایمیل*" required="required">
                                    </div>
                                </div>
                                <div class="col-12 mb-20">
                                    <label>
                                        {% if messages %}
                                        {% for message in messages %}
                                          <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                                        {% endfor %}
                                      {% endif %}
                                      
                                      {% if form.errors %}
                                        <div class="alert alert-error">
                                          <h4>Please fix the following errors</h4>
                                          <ul>
                                            {% for field in form %}
                                              {% if field.errors %}
                                                {% for error in field.errors %}
                                                  <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                                                {% endfor %}
                                              {% endif %}
                                            {% endfor %}
                                          </ul>
                                          {% if form.non_field_errors %}
                                            {{ form.non_field_errors }}
                                          {% endif %}
                                        </div>
                                      {% endif %}
                
                                    </label>
                                </div>
                                <div class="col-12">
                                    <button type="submit" name="submit" class="btn-custom">
                                        فرستادن نظر
                                    </button>
                                </div> 
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 max-width">
                    <!--widget-author-->
                    <div class="widget">
                        <div class="widget-author">
                            <a href="author.html" class="image">
                                <img src="{% static 'img/author/1.jpg' %}" alt="">
                            </a>
                            <h6>
                                <span>محمد حسین اسناوندی</span>
                            </h6>
                            <p>

                             علاقه مند به برنامه نویسی سرور و لینوکس
                        </p>
                    
                    
                            <div class="social-media">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#" class="color-facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="color-pinterest">
                                            <i class="fab fa-pinterest"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/-->

                    <!--widget-latest-posts-->
                    {%  latest_posts %}
                    <!--/-->
                   
                    <!--widget-categories-->
                    {% post_categories %}
                    <!--widget-instagram-->
                    {% include 'blog/instagram-widget.html' %}


                    <!--widget-tags-->
                    {% include 'blog/blog-tags.html' %}

            </div>
        </div>
    </section><!--/-->

{% endblock %}