{% load static %}
<div class="widget">
    <div class="section-title">
        <h5>اینستاگرام</h5>
    </div>
    <ul class="widget-instagram">
        <li>
            <a class="image" href="#">
                <img src="{% static 'img/instagram/1.jpg' %}" alt="">
            </a>
        </li>
        <li>
            <a class="image" href="#">
                <img src="{% static 'img/instagram/2.jpg' %}" alt="">
            </a>
        </li>
        <li>
            <a class="image" href="#">
                <img src="{% static 'img/instagram/3.jpg' %}" alt="">
            </a>
        </li>
        <li>
            <a class="image" href="#">
                <img src="{% static 'img/instagram/4.jpg' %}" alt="">
            </a>
        </li>
        <li>
            <a class="image" href="#">
                <img src="{% static 'img/instagram/5.jpg' %}" alt="">
            </a>
        </li>
        <li>
            <a class="image" href="#">
                <img src="{% static 'img/instagram/6.jpg' %}" alt="">
            </a>
        </li>
    </ul>

</div>
<!--/-->