{% load static %}
<div class="widget ">
    <div class="section-title">
        <h5>آخرین پست ها</h5>
    </div>
    <ul class="widget-latest-posts">
        <li class="last-post">
            <div class="image">
                <a href="post-default.html">
                    <img src="{% static 'img/latest/1.jpg' %}" alt="...">
                </a>
            </div>
            <div class="nb">1</div>
            <div class="content">
                <p>
                    <a href="post-default.html">5 أشياء أتمنى أن أعرفها قبل السفر إلى ماليزيا</a>
                </p>
                <small>
                    <span class="icon_clock_alt"></span> 15 يناير 2021</small>
            </div>
        </li>
        <li class="last-post">
            <div class="image">
                <a href="post-default.html">
                    <img src="{% static 'img/latest/2.jpg' %}" alt="...">
                </a>
            </div>
            <div class="nb">2</div>
            <div class="content">
                <p>
                    <a href="post-default.html">كل ما تحتاج لمعرفته حول زيارة الأمازون.</a>
                </p>
                <small>
                    <span class="icon_clock_alt"></span> 15 يناير 2021</small>
            </div>
        </li>
        <li class="last-post">
            <div class="image">
                <a href="post-default.html">
                    <img src="{% static 'img/latest/3.jpg' %}" alt="...">
                </a>
            </div>
            <div class="nb">3</div>
            <div class="content">
                <p>
                    <a href="post-default.html">كيف تقضي إجازة ممتعة بعد العمل الشاق؟</a>
                </p>
                <small>
                    <span class="icon_clock_alt"></span> 15 يناير 2021</small>
            </div>
        </li>
        <li class="last-post">
            <div class="image">
                <a href="post-default.html">
                    <img src="{% static 'img/latest/4.jpg' %}" alt="...">
                </a>
            </div>
            <div class="nb">4</div>
            <div class="content">
                <p>
                    <a href="post-default.html">أفضل وأجمل 10 أماكن للزيارة في إيطاليا</a>
                </p>
                <small>
                    <span class="icon_clock_alt"></span> 15 يناير 2021</small>
            </div>
        </li>
    </ul>
</div>