{% load static %}
{% load blog_tags %}
<div class="widget ">
    <div class="section-title">
        <h5>آخرین پست ها</h5>
    </div>
    <ul class="widget-latest-posts">
        {% for post in posts %}
        <li class="last-post">
            <div class="image">
                <a href="{% url 'blog:single' pid=post.id %}">
                    <img src="{{post.image.url}}" alt="...">
                </a>
            </div>
            
            <div class="content">
                <p>
                    <a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a>
                </p>
                <small>
                    <span class="icon_clock_alt"></span> {{post.published_date|date:"D d M Y"}}</small>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>