{% extends 'base.html' %}
{% block content %}
    <!--category-->
    <section class="categorie-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="categorie-title">
                        <small>
                            <a href="index.html">الرئيسية</a>
                            <span class="arrow_carrot-left"></span> تغذية
                        </small>
                        <h3>تصنيف :
                            <span> تغذية</span>
                        </h3>
                        <p> خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                        في, اقتصّت المحور حدة و.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--blog-grid-->
    <section class="blog-grid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mt-30">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <!--Post-1-->
                            <div class="post-card">
                                <div class="post-card-image">
                                    <a href="post-default.html">
                                        <img src="assets/img/blog/7.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    <a href="blog-grid.html" class="categorie">تغذية</a>
                                    <h5>
                                        <a href="post-default.html">7 وصفات عشاء لقضاء ليلة في المنزل</a>
                                    </h5>
                                    <p>
                                        خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                        في, اقتصّت المحور حدة و....
                                    </p>
                                    <div class="post-card-info">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="author.html">
                                                    <img src="assets/img/author/1.jpg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="author.html"> دفيد سميث</a>
                                            </li>
                                            <li class="dot"></li>
                                            <li>15 يناير 2021 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/-->
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!--Post-2-->
                            <div class="post-card">
                                <div class="post-card-image">
                                    <a href="post-default.html">
                                        <img src="assets/img/blog/1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    <a href="blog-grid.html" class="categorie">تغدية</a>
                                    <h5>
                                        <a href="post-default.html">استمتع بكيك الشوكولاتة مولتن المفضل لدي</a>
                                    </h5>
    
                                    <p>
                                        خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                        في, اقتصّت المحور حدة و....
                                    </p>
                                    <div class="post-card-info">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="author.html">
                                                    <img src="assets/img/author/1.jpg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="author.html"> دفيد سميث</a>
                                            </li>
                                            <li class="dot"></li>
                                            <li>15 يناير 2021 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/-->
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!--Post-3-->
                            <div class="post-card">
                                <div class="post-card-image">
                                    <a href="post-default.html">
                                        <img src="assets/img/blog/3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    <a href="blog-grid.html" class="categorie">تغدية</a>
                                    <h5>
                                        <a href="post-default.html">سلاصة الفواكه بالموز وزيت الزيتون والليمون</a>
                                    </h5>
    
                                    <p>
                                        خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                        في, اقتصّت المحور حدة و....
                                    </p>
                                    <div class="post-card-info">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="author.html">
                                                    <img src="assets/img/author/1.jpg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="author.html"> دفيد سميث</a>
                                            </li>
                                            <li class="dot"></li>
                                            <li>15 يناير 2021 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/-->
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!--Post-4-->
                            <div class="post-card">
                                <div class="post-card-image">
                                    <a href="post-default.html">
                                        <img src="assets/img/blog/10.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    <a href="blog-grid.html" class="categorie">تغدية</a>
                                    <h5>
                                        <a href="post-default.html">7 وصفات عشاء لقضاء ليلة في المنزل</a>
                                    </h5>
                                    <p>
                                        خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                        في, اقتصّت المحور حدة و....
                                    </p>
                                    <div class="post-card-info">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="author.html">
                                                    <img src="assets/img/author/1.jpg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="author.html"> دفيد سميث</a>
                                            </li>
                                            <li class="dot"></li>
                                            <li>15 يناير 2021 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/-->
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!--Post-5-->
                            <div class="post-card">
                                <div class="post-card-image">
                                    <a href="post-default.html">
                                        <img src="assets/img/blog/4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    <a href="blog-grid.html" class="categorie">تغدية</a>
                                    <h5>
                                        <a href="post-default.html">كيف تصنع الفطائر المغربية في خمس خطوات؟</a>
                                    </h5>
                                    <p>
                                        خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                        في, اقتصّت المحور حدة و....
                                    </p>
                                    <div class="post-card-info">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="author.html">
                                                    <img src="assets/img/author/1.jpg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="author.html"> دفيد سميث</a>
                                            </li>
                                            <li class="dot"></li>
                                            <li>15 يناير 2021 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/-->
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!--Post-6-->
                            <div class="post-card">
                                <div class="post-card-image">
                                    <a href="post-default.html">
                                        <img src="assets/img/blog/7.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    <a href="blog-grid.html" class="categorie">تغدية</a>
                                    <h5>
                                        <a href="post-default.html">كيف تحضر سندوشات صحية في المنزل لاطفالك؟</a>
                                    </h5>
                                    <p>
                                        خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                        في, اقتصّت المحور حدة و....
                                    </p>
                                    <div class="post-card-info">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="author.html">
                                                    <img src="assets/img/author/1.jpg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="author.html"> دفيد سميث</a>
                                            </li>
                                            <li class="dot"></li>
                                            <li>15 يناير 2021 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/-->
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!--Post-7-->
                            <div class="post-card">
                                <div class="post-card-image">
                                    <a href="post-default.html">
                                        <img src="assets/img/blog/5.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    <a href="blog-grid.html" class="categorie">تغدية</a>
                                    <h5>
                                        <a href="post-default.html">كيف تصنع برجر وبطاطا مقلية في المنزل؟</a>
                                    </h5>
                                    <p>
                                        خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                        في, اقتصّت المحور حدة و....
                                    </p>
                                    <div class="post-card-info">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="author.html">
                                                    <img src="assets/img/author/1.jpg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="author.html"> دفيد سميث</a>
                                            </li>
                                            <li class="dot"></li>
                                            <li>15 يناير 2021 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/-->
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!--Post-8-->
                            <div class="post-card">
                                <div class="post-card-image">
                                    <a href="post-default.html">
                                        <img src="assets/img/blog/9.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    <a href="blog-grid.html" class="categorie">تغدية</a>
                                    <h5>
                                        <a href="post-default.html">كيفية تحضير وجبة فطور ملكية صحية في المنزل</a>
                                    </h5>
                                    <p>
                                        خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة
                                        في, اقتصّت المحور حدة و....
                                    </p>
                                    <div class="post-card-info">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="author.html">
                                                    <img src="assets/img/author/1.jpg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="author.html"> دفيد سميث</a>
                                            </li>
                                            <li class="dot"></li>
                                            <li>15 يناير 2021 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/-->
                        </div>
    
                        <!--pagination-->
                        <div class="col-lg-12">
                            <div class="pagination mt--10">
                                <ul class="list-inline">
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                    <li>
                                        <a href="#">4</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="arrow_carrot-2left"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--/-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 max-width">
                <!--widget-latest-posts-->
                <div class="widget ">
                    <div class="section-title">
                        <h5>احدث المقالات</h5>
                    </div>
                    <ul class="widget-latest-posts">
                        <li class="last-post">
                            <div class="image">
                                <a href="post-default.html">
                                    <img src="assets/img/latest/1.jpg" alt="...">
                                </a>
                            </div>
                            <div class="nb">1</div>
                            <div class="content">
                                <p>
                                    <a href="post-default.html">5 أشياء أتمنى أن أعرفها قبل السفر إلى ماليزيا</a>
                                </p>
                                <small>
                                    <span class="icon_clock_alt"></span> 15 يناير 2021</small>
                            </div>
                        </li>
                        <li class="last-post">
                            <div class="image">
                                <a href="post-default.html">
                                    <img src="assets/img/latest/2.jpg" alt="...">
                                </a>
                            </div>
                            <div class="nb">2</div>
                            <div class="content">
                                <p>
                                    <a href="post-default.html">كل ما تحتاج لمعرفته حول زيارة الأمازون.</a>
                                </p>
                                <small>
                                    <span class="icon_clock_alt"></span> 15 يناير 2021</small>
                            </div>
                        </li>
                        <li class="last-post">
                            <div class="image">
                                <a href="post-default.html">
                                    <img src="assets/img/latest/3.jpg" alt="...">
                                </a>
                            </div>
                            <div class="nb">3</div>
                            <div class="content">
                                <p>
                                    <a href="post-default.html">كيف تقضي إجازة ممتعة بعد العمل الشاق؟</a>
                                </p>
                                <small>
                                    <span class="icon_clock_alt"></span> 15 يناير 2021</small>
                            </div>
                        </li>
                        <li class="last-post">
                            <div class="image">
                                <a href="post-default.html">
                                    <img src="assets/img/latest/4.jpg" alt="...">
                                </a>
                            </div>
                            <div class="nb">4</div>
                            <div class="content">
                                <p>
                                    <a href="post-default.html">أفضل وأجمل 10 أماكن للزيارة في إيطاليا</a>
                                </p>
                                <small>
                                    <span class="icon_clock_alt"></span> 15 يناير 2021</small>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--/-->
                
                <!--widget-categories-->
                <div class="widget">
                    <div class="section-title">
                        <h5>تصنيفات</h5>
                    </div>
                    <ul class="widget-categories">
                        <li>
                            <span class="ml-auto">22 مقالات</span>
                            <a href="#" class="categorie">اسلوب حياة</a>
                
                        </li>
                        <li>
                
                            <span class="mr-auto">18 مقالات</span>
                            <a href="#" class="categorie">السفر</a>
                        </li>
                        <li>
                            <a href="#" class="categorie">الطعام</a>
                            <span class="mr-auto">14 مقالات</span>
                        </li>
                        <li>
                            <a href="#" class="categorie">موضة</a>
                            <span class="mr-auto">10 مقالات</span>
                        </li>
                    </ul>
                </div>
                <!--/-->
                
                <!--widget-instagram-->
                <div class="widget">
                    <div class="section-title">
                        <h5>انستغرام</h5>
                    </div>
                    <ul class="widget-instagram">
                        <li>
                            <a class="image" href="#">
                                <img src="assets/img/instagram/1.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="image" href="#">
                                <img src="assets/img/instagram/2.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="image" href="#">
                                <img src="assets/img/instagram/3.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="image" href="#">
                                <img src="assets/img/instagram/4.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="image" href="#">
                                <img src="assets/img/instagram/5.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="image" href="#">
                                <img src="assets/img/instagram/6.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                
                </div>
                <!--/-->
                
                <!--widget-tags-->
                <div class="widget">
                    <div class="section-title">
                        <h5>وسوم</h5>
                    </div>
                    <div class="widget-tags">
                        <ul class="list-inline">
                            <li>
                                <a href="blog-grid.html">السفر</a>
                            </li>
                            <li>
                                <a href="blog-grid.html">الطبيعة</a>
                            </li>
                            <li>
                                <a href="blog-grid.html">نضائح</a>
                            </li>
                            <li>
                                <a href="blog-grid.html">غابة</a>
                            </li>
                            <li>
                                <a href="blog-grid.html">البحر</a>
                            </li>
                            <li>
                                <a href="blog-grid.html">موضة</a>
                            </li>
                            <li>
                                <a href="blog-grid.html">اسلوب حياة</a>
                            </li>
                            <li>
                                <a href="blog-grid.html">الصحة</a>
                            </li>
                            <li>
                                <a href="blog-grid.html">الطعام</a>
                            </li>
                            <li>
                                <a href="blog-grid.html">فطور الصباح</a>
                            </li>
                
                        </ul>
                    </div>
                </div>
                <!--/-->
    
                </div>
            </div>
        </div>
    </section>
    <!--/-->
   
{% endblock %}